body{
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}
.wrapper{
    /* position: relative; */
    height: 100%;
    width: 100%;
}
.myVideo{
    position: absolute;
    width: 1600px;
    z-index: -1;
    left: 0;
}
.container{
    height: fit-content;
    min-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}
.greedy, .celf, .ris{
    margin: 20px auto;
    padding: 0;
    height: 100%;
    width: 30%;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s;
    box-shadow: 0 0 10px;
}
.center{
    height: 500px;
    width: 500px;
}
.greedy .center{
    background-image: url("/static/images/bg_greedy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.celf .center{
    background-image: url("/static/images/bg_celf.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.ris .center{
    background-image: url("/static/images/bg_ris.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aquamarine;
    background-blend-mode: darken;
}
.front-border{
    position: absolute;
    background-color: transparent;
    height: 450px;
    width: 450px;
    border: 7px solid black;
    transform: perspective(1500px) translateZ(50px);
}
.front-title{
    position: absolute;
    background-color: transparent;
    transform: perspective(1500px) translateZ(200px);
    text-align: center;
    font-size: 50px;
    top: 100px;
    font-weight: bold;
    cursor: default;
}
.front-subtitle{
    position: absolute;
    background-color: transparent;
    transform: perspective(1500px) translateZ(150px);
    text-align: center;
    font-size: 40px;
    top: 200px;
    cursor: default;
}
.back{
    position: absolute;
    background-color: transparent;
    height: 400px;
    width: 400px;
    transform:  translateZ(-100px) rotateY(180deg);
    text-align: center;
    font-size: large;
    top: 120px;
    color: black;
    cursor: default;
}
.greedy:hover .card{
    transform: perspective(1500px) rotateY(.5turn);
}
.celf:hover .card{
    transform: perspective(1500px) rotateY(.5turn);
}
.ris:hover .card{
    transform: perspective(1500px) rotateY(.5turn);
}
.link{
    background-image: linear-gradient(to right, #3a6186, #360033);
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
    width: max-content;
    margin: 0 auto;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    background-size: 400%;
    animation: gradiant-ani 30s  infinite alternate ease;
}
.btn{
    font-size: large;
    margin: 0 5px;
    margin-top: 10px;
    padding: 10px;
    /* border: 1px solid black; */
    border-radius: 5px;
    background-image: linear-gradient(45deg, #a1ffce, #faffd1);
    background-size: 400%;
    background-position: left;
    transition: background-position .5s ease,box-shadow .5s ease;
}
.btn:hover{
    background-position: right;
    box-shadow: 5px 5px 10px black;
}

@keyframes gradiant-ani {
    0% {background-position: left;}
    100% {background-position: right;}
}